:root {
  /* general size */
  --headerOffset: 4rem;

  /* general colors*/
  --dark: #000000;
  --light: #ffffff;

  /* light */
  --primaryLight: #fdfdfd;
  --secondaryLight: #dfdfdf;
  --tertiaryLight: #cdcdcd;
  --quaternaryLight: #aaaaaa;
  --overPrimaryLight: #00000090;
  --overSecondaryLight: #00000050;

  /* dark */
  --primaryDark: #123;
  --secondaryDark: #152025;
  --tertiaryDark: #234;
  --quaternaryDark: #253545;
  --darkOverPrimaryDark: #ffffff90;
  --lightOverPrimaryDark: var(--light);

  /* time */
  --mode-switch-duration: 300ms;
}