/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './scrollbar.css';

@layer utilities {
  .transitioning {
    @apply transition-all duration-modeSwitchDuration ease-in-out;
  }

  .clip-house {
    clip-path: polygon(0 15vh, 60% 0, 100% 15vh, 100% 100%, 0 100%, 0 15vh);
  }

  .clip-parallelogram {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%, 0 0);
  }

  .grid-about-template-desktop {
    grid-template-columns: 100%;
    grid-auto-rows: 25vh;
  }

  .grid-about-template-mobile {
    grid-template-columns: 100%;
    grid-auto-rows: 50vh;
  }

  .skill-icon {
    @apply lg:w-[130px] lg:h-[130px] text-light dark:text-dark fill-light dark:fill-dark bg-gradient-to-r rounded-lg transitioning;
  }
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-track {
    @apply transitioning;
  }

  a {
    @apply decoration-0 text-overPrimaryLight transitioning hover:text-dark cursor-pointer dark:text-darkOverPrimaryDark dark:hover:text-lightOverPrimaryDark;
  }
}
