/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './scrollbar.css';

@layer utilities {
  .transitioning {
    @apply transition-all duration-modeSwitchDuration ease-in-out;
  }

  .clip-house {
    clip-path: polygon(0 15vh, 60% 0, 100% 15vh, 100% 100%, 0 100%, 0 15vh);
  }

  .clip-parallelogram {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%, 0 0);
  }

  .grid-about-template-desktop {
    grid-template-columns: 100%;
    grid-auto-rows: 25vh;
  }

  .grid-about-template-mobile {
    grid-template-columns: 100%;
    grid-auto-rows: 50vh;
  }
}

/* * {
  @apply m-0 p-0 box-border;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}